$fontFam: sans-serif;

$bodyBg: rgb(255, 255, 255);
$articleHeaderColor: rgb(53, 151, 151);

$textColor: rgb(96, 194, 197);
$paragrafColor: rgb(148, 149, 149);
$borderColor: rgb(144, 144, 144);
$articleBg:  rgb(248, 248, 248);